.menu {
  position: absolute;
}

.icongit {
  padding: 5px;
}

.iconlinked {
  padding: 5px;
}

.icontainer{
  display: flex;
}

@media (min-width: 1281px) {
  .menu {
top: 31vh;
right: -1%;
z-index: 100;
  }
  .icontainer {
    display: inline-block;
    z-index: 100;
    border: 2px solid darkslategray;
    border-radius: 2.5vw 0vw 0vw 2.5vw;
    height: 150px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 80px;
    background-color: #d2d8d6;
    background-image: linear-gradient(90deg, #eaeaea 50%, #b6b6b6 95%);
    box-shadow: -3px 4px 6px 7px rgba(0, 0, 0, 0.38);
  }
  .icontainer:hover {
    background-color: #d2d8d6;
    background-image: linear-gradient(90deg, #ffffff 50%, #b6b6b6 95%);
    box-shadow: -4px 5px 10px 10px rgba(0, 0, 0, 0.38);
  }
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {
  .menu {
   top: 33vh;
right: -1%;
z-index: 100;
  }
  .icontainer {
    z-index: 100;
    display: inline-block;
    top: 300px;
    right: -15px;
    border: 2px solid darkslategray;
    border-radius: 3vw 0vw 0vw 3vw;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 65px;
    background-color: #d2d8d6;
    background-image: linear-gradient(90deg, #eaeaea 50%, #b6b6b6 95%);
    box-shadow: -3px 4px 6px 7px rgba(0, 0, 0, 0.38);
  }
  .icontainer:hover {
    background-color: #d2d8d6;
    background-image: linear-gradient(90deg, #ffffff 50%, #b6b6b6 95%);
    box-shadow: -4px 5px 10px 10px rgba(0, 0, 0, 0.38);
  }
}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 82%;
    left: 42%;
    z-index: 100;
  }
  .icontainer {
    display: flex;
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 42%;
    z-index: 100;
  }
}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 49%;
    z-index: 100;
  }
  .icontainer {
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 44%;
    z-index: 100;
  }
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 82%;
    left: 42%;
    z-index: 100;
  }
  .icontainer {
    position: fixed; /* Set the navbar to fixed position */
    top: 88%;
    left: 42%;
    z-index: 100;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 33%;
    z-index: 100;
  }
}
