.headerText {
  font-size: 30px;
  border-radius: 4vw 4vw 4vw 4vw;
  box-shadow: 3px 4px 5px 10px rgba(0, 0, 0, 0.38);
  background-color: #d2d8d6;
  background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
}

.greetingText {
  font-size: 50px;
  font-weight: 300;
  padding-right: 10px;
  margin: 0;
  padding-bottom: 0px;
  padding-top: 5px;
  animation: fadein 2s;
}

.nameText {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 3px;
  animation: fadein 2s;
  color: darkslategray;
}

.taglineText {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.button {
  padding-top: 10px;
  animation: fadein 2s;
}

.icontainer {
  padding-top: 50px;
  display: flex;
  align-items: center;
    justify-content: center;
    margin-right: 9px;
}

.icongit {
  padding: 5px;
  z-index: 100;
}

.iconlinked {
  padding: 5px;
  z-index: 100;
}

.Particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .headerText {
    border-radius: 2.5vw 2.5vw 2.5vw 2.5vw;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -230px 0 0 -350px;
    background: red;
    font-size: 40px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    border: 2px solid darkslategray;
    width: 550px;
    height: 430px;
  }
  .headerText:hover {
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }
  .greetingText {
    font-size: 60px;
    font-weight: 300;
    padding-right: 10px;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 5px;
  }

  .nameText {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 3px;
  }

  .taglineText {
    font-size: 45px;
    font-weight: 300;
    margin: 0;
  }
  .taglineText2 {
    font-size: 44px;
    font-weight: 300;
    margin: 0;
  }

  .button {
    width: 90px;
    margin: auto;
    padding-top: 30px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .headerText {
    position: absolute;
    top: 38%;
    left: 26%;
    margin-top: -120px;
    font-size: 30px;
    z-index: 100;
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 10px;

    border: 2px solid darkslategray;
    width: 550px;
  }
  .headerText:hover {
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }


  .greetingText {
    font-size: 60px;
    font-weight: 300;
    padding-right: 10px;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 5px;
    animation: fadein 1s;
  }

  .nameText {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 3px;
    animation: fadein 1s;
  }

  .taglineText {
    font-size: 45px;
    font-weight: 300;
    margin: 0;
  }
  .taglineText2 {
    font-size: 44px;
    font-weight: 300;
    margin: 0;
  }
  .button {
    width: 90px;
    margin: auto;
    padding-top: 30px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .icontainer {
    padding-top: 49px;

  }
  .headerText {
    position: absolute;
    top: 27%;
    left: 15%;
    right: 20%;
    margin-top: -90px;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
  
    border: 2px solid darkslategray;
    width: 490px;
  }
  .headerText:hover {
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }

  .greetingText {
    font-size: 55px;
    font-weight: 300;
    padding-right: 0px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 0px;
    animation: fadein 1s;
  }
  .nameText {
    font-size: 45px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    animation: fadein 1s;
  }
  .taglineText {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
  }
  .taglineText2 {
    font-size: 39px;
    font-weight: 300;
    margin: 0;
  }
  .button {
    width: 90px;
    padding-top: 40px;
    margin: auto;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .icontainer {
    padding-top: 49px;

  }
  .headerText {
    position: absolute;
    top: 28%;
    left: 24%;
    right: 20%;
    margin-top: -90px;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;

    border: 2px solid darkslategray;
    width: 490px;
  }
  .headerText:hover {
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }

  .greetingText {
    font-size: 55px;
    font-weight: 300;
    padding-right: 0px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 0px;
    animation: fadein 1s;
  }
  .nameText {
    font-size: 45px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    animation: fadein 1s;
  }
  .taglineText {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
  }
  .taglineText2 {
    font-size: 39px;
    font-weight: 300;
    margin: 0;
  }
  .button {
    width: 90px;
    padding-top: 40px;
    margin: auto;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .icontainer {
    padding-top: 50px;

  }
  .headerText {
    position: absolute;
    top: 33%;
    left: 18%;
    right: 20%;
    margin-top: -90px;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
  
    border: 2px solid darkslategray;
    width: 430px;
  }
  .headerText:hover {
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }

  .greetingText {
    font-size: 50px;
    font-weight: 300;
    padding-right: 0px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 0px;
    animation: fadein 1s;
  }
  .nameText {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    animation: fadein 1s;
  }
  .taglineText {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
  }
  .taglineText2 {
    font-size: 34px;
    font-weight: 300;
    margin: 0;
  }
  .button {
    width: 90px;
    padding-top: 25px;
    margin: auto;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .headerText {
    position: absolute;
    top: 35%;
    left: 7%;
    width: 90%;
    margin-top: -90px;
    font-size: 30px;
    z-index: 100;
    border: none;
    box-shadow: none;
    background: none;
  }

  .greetingText {
    font-size: 42px;
    font-weight: 300;
    padding-right: 0px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px;
    animation: fadein 1s;
  }

  .nameText {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 10px;
    animation: fadein 1s;
  }

  .taglineText {
    font-size: 29px;
    font-weight: 300;
    margin: 0;
  }
  .taglineText2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0;
  }
  .button {
    width: 90px;
    margin: auto;
    padding-top: 30px;
  }

}
