.headertext {
  position: absolute;
  top: 50%;
  left: 30%;
  right: 20%;
  margin-top: -90px;
  font-size: 30px;
}

.greeting {
  font-size: 50px;
  font-weight: 300;
  padding-right: 10px;
  margin: 0;
  padding-bottom: 0px;
  padding-top: 5px;
  animation: fadein 2s;
}

.name {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 3px;
  animation: fadein 2s;
  color: darkslategray;
}

.tagline {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.button {
  padding-left: 130px;
  padding-top: 10px;
  animation: fadein 2s;
}

.icontainer {
  padding-top: 50px;
  display: flex;
  padding-left: 70px;
}

.icongit {
  padding: 5px;
  z-index: 100;
}

.iconlinked {
  padding: 5px;
  z-index: 100;
}

.Particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .icontainer {
    padding-left: 182px;
  }
  .headertext {
    position: absolute;
    top: 45%;
    left: 36%;
    margin-top: -90px;
    font-size: 40px;
  }
  .greeting {
    font-size: 70px;
    font-weight: 300;
    padding-right: 10px;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 5px;
    animation: fadein 2s;
  }

  .name {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 3px;
    animation: fadein 2s;
    color: darkslategray;
  }

  .tagline {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
  }

  .button {
    padding-left: 220px;
    padding-top: 30px;
    animation: fadein 2s;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .headertext {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 90%;
    margin-top: -90px;
    font-size: 30px;
    z-index: 100;
  }
  .icontainer {
    padding-left: 135px;
  }

  .greeting {
    font-size: 60px;
    font-weight: 300;
    padding-right: 10px;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 5px;
    animation: fadein 2s;
  }

  .name {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 3px;
    animation: fadein 2s;
    color: darkslategray;
  }

  .tagline {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
  }
  .button {
    padding-left: 180px;
    padding-top: 30px;
    animation: fadein 2s;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .icontainer {
    padding-left: 90px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .icontainer {
    padding-top: 54px;
    padding-left: 90px;
  }
  .headertext {
    position: absolute;
    top: 32%;
    left: 30%;
    right: 20%;
    margin-top: -90px;
    font-size: 30px;
  }
}
.greeting {
    font-size: 50px;
    font-weight: 300;
    padding-right: 0px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 0px;
    animation: fadein 2s;
  }
  .name {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    animation: fadein 2s;
  }
  .tagline {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .icontainer {
    padding-left: 90px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .headertext {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 90%;
    margin-top: -90px;
    font-size: 30px;
    z-index: 100;
  }

  .greeting {
    font-size: 39px;
    font-weight: 300;
    padding-right: 0px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px;
    animation: fadein 2s;
  }

  .name {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 10px;
    animation: fadein 2s;
  }

  .tagline {
    font-size: 27px;
    font-weight: 300;
    margin: 0;
  }

  .button {
    padding-left: 115px;
    padding-top: 30px;
    animation: fadein 2s;
  }

  .icontainer {
    padding-left: 76px;
  }
}
