.Container {
  border: 2px solid darkslategray;
  border-radius: 4vw 4vw 4vw 4vw;
  box-shadow: 3px 4px 5px 10px rgba(0, 0, 0, 0.38);
  background-color: #d2d8d6;
  background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
position: relative;
}

ul {
  -moz-column-count: 2;
  -moz-column-gap:1px;
  -webkit-column-count: 2;
  -webkit-column-gap: 1px;
  column-count: 2;
  column-gap: 1px;
  list-style: none;
padding-left: 15px;
}

ul li{
  padding: 10px;
  white-space: nowrap;
}
.about{
  color: darkslategray;
  border-bottom: 2px solid darkslategray;
}

@media (min-width: 1281px) {
  .Container {
    border-radius: 2.5vw 2.5vw 2.5vw 2.5vw;
    font-size: 25px;
    padding: 5px;
    outline: none;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    top:10vh;
    bottom: 3vh;
    right: 0vw;
    left: 0vw;
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    top:13vh;
    right: 0vw;
    left: 0vw;
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .Container {
    font-size: 22px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    top:12vh;
    right: 0vw;
    left: 0vw;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Container {
    font-size: 20px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    top:10vh;
    right: 0vw;
    left: 0vw;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .Container {
    font-size: 22px;
  
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    top:12vh;
    right: 0vw;
    left: 0vw;
  }

  
}
@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 19px;
    top: 7vh;
    border: none;
    box-shadow: none;
    background: #9f9fac;
    
  }

  ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 50px;
   margin-top: -5px;
  }
  ul li{
    padding-bottom:1px;
    white-space: nowrap;
  }

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/





