.Container {
  padding-top: 30%;
  padding-bottom: 100%;
}

ul {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 0px;
}

.aboutme {
  border-bottom: 1px solid gray;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 19px;
    padding-top: 20%;
    padding-bottom: 100%;
  }
  ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 50px;
  }

}