.menu {
    position: fixed; /* Set the navbar to fixed position */
  top: 2%; 
  left:2%;
  z-index: 100;
}

.button {
    position: fixed;
    left: 50%;
    z-index: 100;
    
}

.icontainer {
  display: flex;
}

.icongit {
  padding: 5px;
 
}

.iconlinked {
  padding: 5px;
 
}

@media (min-width: 320px) and (max-width: 480px) {
  .button {
    position: fixed;
    left: 80%;
    top: 1.2%;
    z-index: 100;
    
}

}