.menu {
  position: fixed; /* Set the navbar to fixed position */
  top: 80%;
  left: 40%;
  z-index: 100;
}

.button {
  position: fixed;
  right: 2%;
  z-index: 100;
  top: 1.1%;
}

.icontainer {
  display: flex;
}

.icongit {
  padding: 5px;
}

.iconlinked {
  padding: 5px;
}

@media (min-width: 1281px) {
  .mobilemenu {
    display: none;
  }
  .button {
   display: none;
  }
  .menu {
    position: fixed; 
    top: 90%;
    left: 46%;
    z-index: 100;
  }
  .icontainer {
    display: inline-block;
    position: fixed; 
    top: 310px;
    right: -1%;
    z-index: 100;
    border: 2px solid darkslategray;
    border-radius: 3vw 0vw 0vw 3vw;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 70px;
    background: gainsboro;
    box-shadow: -3px 4px 6px 7px rgba(0, 0, 0, 0.38);
  }
  .icontainer:hover{
    background: #eaeaea;
    box-shadow: -4px 5px 10px 10px rgba(0, 0, 0, 0.38);
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .mobilemenu {
    display: none;
  }
  .button {
    display: none;
  }
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 45%;
    z-index: 100;
  }
  .icontainer {
    display: inline-block;
    position: fixed; /* Set the navbar to fixed position */
    top: 300px;
    right: -1%;
    z-index: 100;
    border: 2px solid darkslategray;
    border-radius: 3vw 0vw 0vw 3vw;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 55px;
    background: gainsboro;
    box-shadow: -3px 4px 6px 7px rgba(0, 0, 0, 0.38);
  }
  .icontainer:hover{
    background: #eaeaea;
    box-shadow: -4px 5px 10px 10px rgba(0, 0, 0, 0.38);
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  .button {
    position: fixed;
    left: 88%;
    top: 1.2%;
    z-index: 100;
  }
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 82%;
    left: 42%;
    z-index: 100;
  }
  .icontainer {
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 42%;
    z-index: 100;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .button {
    position: fixed;
    left: 88%;
    top: 1.2%;
    z-index: 100;
  }
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 90%;
    left: 45%;
    z-index: 100;
  }
  .icontainer {
    position: fixed; /* Set the navbar to fixed position */
    top: 87%;
    left: 42%;
    z-index: 100;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .button {
    position: fixed;
    left: 82%;
    top: 1.2%;
    z-index: 100;
  }
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 82%;
    left: 42%;
    z-index: 100;
  }
  .icontainer {
    position: fixed; /* Set the navbar to fixed position */
    top: 88%;
    left: 42%;
    z-index: 100;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .button {
    position: fixed;
    left: 75%;
    top: 1%;
    z-index: 100;
  }
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 89.5%;
    left: 34%;
    z-index: 100;
  }
  .mobilemenu {

  }
}
