.menu {
    position: fixed; /* Set the navbar to fixed position */
  top: 80%; 
  left:40%;
  z-index: 100;
}

.button {
    position: fixed;
    right: 4%;
    z-index: 100;
    top: 1.1%;
}

.icontainer {
  display: flex;
}

.icongit {
  padding: 5px;
 
}

.iconlinked {
  padding: 5px;
 
}


@media (min-width: 320px) and (max-width: 480px) {
  .button {
    position: fixed;
    left: 75%;
    top: 1.2%;
    z-index: 100;
}
.menu {
  position: fixed; /* Set the navbar to fixed position */
top: 88%; 
left:34%;
z-index: 100;
}

}