.Container {
  border: 2px solid darkslategray;
  border-radius: 4vw 4vw 4vw 4vw;
  box-shadow: 3px 4px 5px 10px rgba(0, 0, 0, 0.38);
     background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
}

img {
  border-radius: 7%;
}

.projectstitle{
  border-bottom: 2px solid darkslategray;
  color: darkslategray;
}
@media (min-width: 1281px) {
  .Container {
    border-radius: 2.5vw 2.5vw 2.5vw 2.5vw;
    font-size: 25px;
    margin-top: 5.5%;
    margin-bottom: 40%;
    padding-bottom: 40px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    padding-top: 10px;
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }
  .paddingbox{
    padding-top: 3.5%;
  }
  img {
    max-width: 90%;
    max-height: 90%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;
    margin-top: 6%;
    margin-bottom: 50%;
    padding-bottom: 40px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }
  .paddingbox{
    padding-top: 3.5%;
  }
  img {
    max-width: 90%;
    max-height: 80%;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  .Container {
    font-size: 23px;
    margin-top: 6%;
    margin-bottom: 50%;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
  .paddingbox{
    padding-top: 7%;
  }
  img {
    max-width: 90%;
    max-height: 80%;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Container {
    font-size: 23px;
    margin-top: 1%;
    margin-bottom: 50%;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
  .paddingbox{
    padding-top: 3%;
  }
  img {
    max-width: 90%;
    max-height:80%;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  img {
    max-width: 90%;
    max-height: 70%;
  }
  .Container {
    font-size: 22px;
    margin-top: 13%;
    margin-bottom: 50%;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
  .paddingbox{
    padding-top: 5%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 19px;
    margin-top: 15%;
    margin-bottom: 100%;
    border:none;
    box-shadow: none;
    background: #aaaab8;
  }
  .paddingbox{
    padding-top: 9%;
  }
  img {
    max-width: 90%;
    max-height: 70%;
  }
}
