.Container {
    padding-bottom: 100%;
    padding-top: 30%;
    color: darkslategray;
}

.projects {
    border-bottom: 1px solid gray;
}

@media (min-width: 320px) and (max-width: 480px) {
    .Container {
      font-size: 19px;
      padding-top: 20%;
      padding-bottom: 100%;
    }
  }