.Container {
  padding-bottom: 100%;
  padding-top: 30%;
  color: darkslategray;
}

img {
  border-radius: 7%;
}

.projectstitle{
  border-bottom: 2px solid darkslategray;
}
@media (min-width: 1281px) {
  .Container {
    font-size: 25px;
    padding-top: 3.5%;
    padding-bottom: 40%;
  }
  img {
    max-width: 90%;
    max-height: 80%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;
    padding-top: 6%;
    padding-bottom: 50%;
  }
  img {
    max-width: 90%;
    max-height: 80%;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  .Container {
    font-size: 23px;
    padding-top: 6%;
    padding-bottom: 50%;
  }
  img {
    max-width: 90%;
    max-height: 80%;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Container {
    font-size: 23px;
    padding-top: 5%;
    padding-bottom: 50%;
  }
  img {
    max-width: 90%;
    max-height:80%;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  img {
    max-width: 90%;
    max-height: 70%;
  }
  .Container {
    font-size: 22px;
    padding-top: 10%;
    padding-bottom: 40%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 22px;
    padding-top: 17%;
    padding-bottom: 100%;
  }

  img {
    max-width: 90%;
    max-height: 70%;
  }
}
