.Container {
  border: 2px solid darkslategray;
  border-radius: 4vw 4vw 4vw 4vw;
  box-shadow: 3px 4px 5px 10px rgba(0, 0, 0, 0.38);
position: relative;
}
.contact {
  color: darkslategray;
}

.button {
  text-align: center;
  width: 100px;
  margin: auto;
}
.contacttitle{
  color: darkslategray;
  border-bottom: 2px solid darkslategray;
}
@media (min-width: 1281px) {
  .Container {
    border-radius: 2.5vw 2.5vw 2.5vw 2.5vw;
    font-size: 25px;
    top:23vh;
    right: 0vw;
    left: 0vw;
    padding-bottom: 20px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
    padding-top: 5px;
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;

    top:30vh;
    right: 0vw;
    left: 0vw;
    padding-bottom: 20px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #ffffff 50%);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Container {
    font-size: 22px;
    top:18vh;
    right: 0vw;
    left: 0vw;
    padding-bottom: 20px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Container {
    font-size: 22px;
  
    top:18vh;
    right: 0vw;
    left: 0vw;
    padding-bottom: 20px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .Container {
    top:17vh;
    right: 0vw;
    left: 0vw;
    font-size: 19px;
    padding-bottom: 20px;
    background-color: #d2d8d6;
    background-image: linear-gradient(360deg, #b6b6b6 1%, #eaeaea 50%);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 19px;
    top: 10vh;

    box-shadow: none;
    border:none;
    background: #9f9fac;
  }
  .paddingbox{
    padding-top: 9%;
  }
}
