.Container {
  padding-top: 30%;
  padding-bottom: 100%;
}
.contact {
  border-bottom: 1px solid gray;
  color: darkslategray;
}

.button {
  text-align: center;
}
@media (min-width: 1281px) {
  .Container {
    font-size: 25px;
    padding-top: 4%;
    padding-bottom: 30%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;
    padding-top: 7%;
    padding-bottom: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Container {
    padding-top: 10%;
    padding-bottom: 50%;
    font-size: 20px;
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .Container {
      font-size: 19px;
      padding-top: 8%;
      padding-bottom: 40%;
    }
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .Container {
    font-size: 19px;
    padding-top: 8%;
    padding-bottom: 40%;
  }

  
}
@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 19px;
    padding-top: 17%;
    padding-bottom: 150%;
  }

  .contact {
    border-bottom: 1px solid gray;
  }
}
