.root {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 45px;
}
.demoicon {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  margin-top: 3px;
}

.demoicon:hover{
  color:darkslategray;
}

.iconbox{
  border: 2px solid darkgrey;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.iconbox:hover{
  border: 2px solid slategrey;
  background: darkgray;
}
.media {
  height: 300px;
  width: 220px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:20px;
  padding-bottom:0px;
  text-align: center;
  background: #8f8f95f1;
  color: black;
  font-weight: 500;
  font-size: 17px;
  border-radius: 10px;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  color: black;
}

.menubox{
  border-top: 2px solid rgba(112, 128, 144, 0.671);
  border-radius:7px;
  margin-top: 20px;
}
@media (min-width: 1281px) {
    .media {
        height: 470px;
        width: 380px;
        padding-top:20px;
        padding-bottom: 30px;
      }
      .root {
        padding-bottom: 0px;
    }
    .menubox{
      margin-bottom: 0px;
      margin-top: 40px;
    }
    .iconbox{
      border: 2px solid darkgrey;
      width: 150px;
      margin: auto;
      border-radius: 10px;
      margin-top: 0px;
      position: absolute;
      bottom: 1.5%;
      left: 30%;
    }
      }


@media (min-width: 1025px) and (max-width: 1280px) {
    .media {
        height: 420px;
        width: 350px;
      }
      .root {
        padding-bottom: 0px;
        height: 380px;
        padding-top: 20px;
    }
    .menubox{
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .iconbox{
      border: 3px solid darkgrey;
      width: 150px;
      margin: auto;
      border-radius: 10px;
      margin-top: 0px;
      position: absolute;
      bottom: 1.5%;
      left: 28%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .media {
        height: 400px;
        width: 350px;
      }
      .root {
        padding-bottom: 0px;
    }
    .menubox{
      margin-bottom: 15px;
      margin-top: 0px;
    }
    .iconbox{
      border: 2px solid darkgrey;
      width: 150px;
      margin: auto;
      border-radius: 10px;
      margin-top: 0px;
      position: absolute;
      bottom: 1.5%;
      left: 28%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .media {
    height: 400px;
    width: 350px;
  }
  .root {
    padding-bottom: 0px;
}
.menubox{
  margin-bottom: 12px;
  margin-top: 1px;
}
.iconbox{
  border: 2px solid darkgrey;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  margin-top: 0px;
  position: absolute;
  bottom: 1.5%;
  left: 30%;
}
}

@media (min-width: 481px) and (max-width: 767px) {
    .media {
      height: 400px;
      width: 350px;
    }
    .root {
      padding-bottom: 0px;
  }
  .menubox{
    margin-bottom: 12px;
    margin-top: 1px;
  }
  .iconbox{
    border: 2px solid darkgrey;
    width: 150px;
    margin: auto;
    border-radius: 10px;
    margin-top: 0px;
    position: absolute;
    bottom: 1.5%;
    left: 30%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .media {
    height: 350px;
    width: 240px;
    border: 2px solid darkslategray;
    padding-top:10px;
  }
  .root {
    padding-top: 20px;
}
.menubox{
  margin-bottom: 25px;
  margin-top: 1px;
  display: none;
}
.iconbox{
  border: 2px solid darkgrey;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  margin-top: 0px;
  position: absolute;
  bottom: 2%;
  left: 19%;
}
}
