.Container {
  border: 2px solid darkslategray;
  border-radius: 4vw 4vw 4vw 4vw;
  box-shadow: 3px 4px 5px 10px rgba(0, 0, 0, 0.38);
}

.workXP {
  color: darkslategray;
  border-bottom: 2px solid darkslategray;
}

@media (min-width: 1281px) {
  .Container {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 40%;
    background: gainsboro;
    padding: 10px;
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background: #eaeaea;
  }
  .paddingbox{
    padding-top: 6%;
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;
    margin-top: 6%;
    margin-bottom: 50%;
    background: gainsboro;
  }
  .Container:hover{
    box-shadow: 5px 6px 7px 11px rgba(0, 0, 0, 0.38);
    background: #eaeaea;
  }
  .paddingbox{
    padding-top: 6%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Container {
    font-size: 22px;
    margin-top: 4%;
    margin-bottom: 50%;
    background: gainsboro;
  }
  .paddingbox{
    padding-top: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Container {
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 50%;
    background: gainsboro;
  }
  .paddingbox{
    padding-top: 10%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .Container {
    margin-top: 20%;
    margin-bottom: 50%;
    font-size: 19px;
    background: gainsboro;
  }
  .paddingbox{
    padding-top: 5%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    font-size: 19px;
    margin-top: 15%;
    margin-bottom: 100%;
    border: none;
    box-shadow: none;
    background: #c6c6c6;
  }
  .paddingbox{
    padding-top: 9%;
  }
}
