.Container {
    padding-bottom: 100%;
    padding-top: 30%;
}

.workXP {
    border-bottom: 1px solid gray;
    color: darkslategray;
}

@media (min-width: 1281px) {
  .Container {
    font-size: 19px;
    padding-top: 10%;
    padding-bottom: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
    .Container {
      font-size: 19px;
      padding-top: 20%;
      padding-bottom: 100%;
    }
  
  }
