.Container {
    padding-bottom: 100%;
    padding-top: 30%;
}

.workXP {
    border-bottom: 1px solid gray;
    color: darkslategray;
}

@media (min-width: 1281px) {
  .Container {
    font-size: 25px;
    padding-top: 4%;
    padding-bottom: 40%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .Container {
    font-size: 23px;
    padding-top: 7%;
    padding-bottom: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .Container {
    font-size: 20px;
    padding-top: 10%;
    padding-bottom: 50%;
  }
  
}
@media (min-width: 320px) and (max-width: 480px) {
    .Container {
      font-size: 19px;
      padding-top: 17%;
      padding-bottom: 100%;
    }
  
  }
